$green: #6eaa63;

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Georgia;
    background-color: #202224;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

@-webkit-keyframes opacityTranslateAnim{
    0%{
        // transform: translateY(60px);
        padding-bottom: 0px;
        opacity: 0;
    }
    100%{
        // transform: translateY(0);
        padding-bottom: 210px;
        opacity: 1;
    }
}

@keyframes opacityTranslateAnim{
    0%{
        // transform: translateY(60px);
        padding-bottom: 0px;
        opacity: 0;
    }
    100%{
        // transform: translateY(0);
        padding-bottom: 210px;
        opacity: 1;
    }
}

@-webkit-keyframes opacityAnim{
    0%{
        // transform: translateY(40px);
        opacity: 0;
    }
    100%{
        // transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacityAnim{
    0%{
        // transform: translateY(40px);
        opacity: 0;
    }
    100%{
        // transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes giantizeAnim{
    0%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(8);
                transform: scale(8);
        opacity: 0;
    }
}

@keyframes giantizeAnim{
    0%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(8);
                transform: scale(8);
        opacity: 0;
    }
}

@-webkit-keyframes opacityDownAnim{
    0%{
        // transform: translateY(40px);
        opacity: 1;
    }
    90%{
        // transform: translateY(0);
        opacity: 0;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes opacityDownAnim{
    0%{
        // transform: translateY(40px);
        opacity: 1;
    }
    90%{
        // transform: translateY(0);
        opacity: 0;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.landingscreen{
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: darken($green, 30%);
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    visibility: visible;

    -webkit-animation: opacityDownAnim 1s forwards 2s ease-in-out;

            animation: opacityDownAnim 1s forwards 2s ease-in-out;

    .spinner {
        width: 100px;
        height: 100px;
        position: relative;
        margin: auto;
        -webkit-transform: scale(1);
                transform: scale(1);

        -webkit-animation: giantizeAnim 1s forwards 2s ease-in-out;
                animation: giantizeAnim 1s forwards 2s ease-in-out;
      }
      
      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      
      .double-bounce2 {
        background-color: darken($green, 20%);
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
}

header{
    position: fixed;
    z-index: 20;
    bottom: 0;
    height: 100vh;
    z-index: 100;

    nav{
        height: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        -webkit-transition: .5s;
        transition: .5s;

        ul{
            display: grid;
            height: 100%;
            margin: 0;
            opacity: 0;

            -webkit-animation: opacityAnim 1s forwards 3s ease-in-out;

                    animation: opacityAnim 1s forwards 3s ease-in-out;
    
            // Adjust padding top everytime grid is adjusted
            // (100vh - 4 times the size of grid) / 2 = size of padding top
            
            padding-left: 3vh;
            padding-top: 18vh;
            grid-template-rows: repeat(4, 18vh);
        }
    
       li{
            -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                    writing-mode: vertical-lr;
            margin-bottom: 65px;
            margin-left: 30px;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
            font-size: .8em;
            text-align: center;
            align-self: end;
    
            a, span{
                color: #9F9F9F; 
                cursor: pointer;
            }
       }
    }

    .show-nav{
        visibility: hidden;
        height: 100%;
        position: fixed;
        width: 73px;
        top: 0;
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        text-align: center;

        opacity: 0;
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
        -webkit-transition: .5s;
        transition: .5s;
    
        span{
            font-size: .8em;
            color: #9F9F9F;
            cursor: pointer;
        }
   }

    .links{
        height: 100%;
        position: fixed;
        right: 30px;
        top: 0;
        opacity: 0;

        -webkit-animation: opacityAnim 1s forwards 3s ease-in-out;

                animation: opacityAnim 1s forwards 3s ease-in-out;

        ul{
            display: grid;
            height: 100%;
            margin: 0;

            //Adjust padding top everytime grid is adjusted
            //(100vh-3 times the size of grid) / 2 = size of padding top

            padding-top: 39.5vh;
            grid-template-rows: repeat(3, 7vh);
}

        li{
            -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                    writing-mode: vertical-lr;
            font-size: .8em;
            align-self: center;
    
            img{
                width: 15px;
                opacity: 50%;
                -webkit-transition: .2s;
                transition: .2s;

                &:hover{
                    opacity: 100%;
                }
            }
       }
    }
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    opacity: 0;

    -webkit-animation: opacityAnim 1.5s forwards 2s ease;

            animation: opacityAnim 1.5s forwards 2s ease;

    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .lowgrass{
        z-index: 12;
    }

    .smallgrass{
        z-index: 9;
    }

    .tree{
        z-index: 11;
    }

    .idealab{
        font-size: 10em;
        color: white;
        padding-bottom: 40px;
        font-weight: lighter;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        z-index: 7;
        opacity: 0;
        -webkit-animation: opacityAnim 1.5s forwards 4.25s ease-in-out;
                animation: opacityAnim 1.5s forwards 4.25s ease-in-out;

        text-shadow: 0px 10px 5px rgba(0,0,0,0.1),
                     10px 5px 5px rgba(0,0,0,0.05),
                    -10px 5px 5px rgba(0,0,0,0.05);

        span{
            color: $green;
        }
        
    }

    .gio{
        z-index: 6;
        position: absolute;
        color: #cfcfcf;
        font-size: 2em;
        padding-bottom: 0px;
        opacity: 0;

        -webkit-animation: opacityTranslateAnim 2s forwards 3s ease;

                animation: opacityTranslateAnim 2s forwards 3s ease;

    }

    .middlegrass{
        z-index: 6;
    }

    .forest{
        z-index: 5;
    }

    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: -webkit-gradient(linear, left bottom, left top, from(#202224), to(transparent));
        background: linear-gradient(to top, #202224, transparent);
        z-index: 15;
    }

    a{
        position: absolute;
        bottom: 40px;
    }

    .spinner {
        width: 30px;
        height: 30px;
        // margin-top: 1000px;
        background-color: $green;
        position: absolute;
        bottom: 0;
        z-index: 17;
      
        border-radius: 100%;  
        -webkit-animation: sk-scaleout 1.2s infinite ease-in-out;
        animation: sk-scaleout 1.2s infinite ease-in-out;
    }
      
    @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
    }
    
    @keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
    }
}

.about{
    height: 100vh;
    width: 100%;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: flex;
    font-family: Sylfaen;
    color: white;
    position: relative;
    overflow: hidden;

    span{
        position: absolute;
    }

    .quotes{
        font-family: Perpetua Titling MT;
        font-size: 20em;
        color: #59A652;
        left: 200px;
        margin-top: -70px;
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        -webkit-transition: .5s;
        transition: .5s;

        &[data-scroll="in"]{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
    }

    .about_1{
        font-size: 3.5em;
        margin-top: -98px;
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;

        &[data-scroll="in"]{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
        }
    }

    .about_2{
        font-size: 5.5em;
        margin-top: -50px;
        margin-left: 10px;
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        -webkit-transform-origin: left;
                transform-origin: left;
        opacity: 0;

        &[data-scroll="in"]{
            -webkit-transition-delay: .3s;
                    transition-delay: .3s;
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
        }
    }

    .about_3{
        font-size: 2.7em;
        margin-top: 9px;
        margin-left: -20px;
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;

        &[data-scroll="in"]{
            -webkit-transition-delay: .6s;
                    transition-delay: .6s;
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
        }
    }

    .about_4{
        font-size: 2.3em;
        margin-top: 50px;
        margin-left: 170px;
        -webkit-transform: translateX(-400px);
                transform: translateX(-400px);
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;

        &[data-scroll="in"]{
            -webkit-transition-delay: .9s;
                    transition-delay: .9s;
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
        }
    }

    .about_gio{
        font-size: 2em;
        color: #7AAD7D;
        margin-top: 130px;
        margin-left: 270px;
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 0;

        &[data-scroll="in"]{
            opacity: 1;
            -webkit-transition-delay: 1.6s;
                    transition-delay: 1.6s;
        }
    }
}

.works{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: block;
    padding-bottom: 150px;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

    background-color: darken(#3D613A, 2%);

    box-shadow: inset 0px 11px 8px -10px #111,
                inset 0px -11px 8px -10px #111; 
    -moz-box-shadow:    inset 0px 11px 8px -10px #111,
                        inset 0px -11px 8px -10px #111; 
    -webkit-box-shadow: inset 0px 11px 8px -10px #111,
                        inset 0px -11px 8px -10px #111;

    .works-header{
        position: relative;
        overflow: hidden;

        h1{
            position: relative;
            left: -30px;
            top: 0;
            margin: 0;
            line-height: 1;
            font-family: Sylfaen;
            font-size: 13em;
            font-weight: 50;
            color: #7AAD7D;
            z-index: 50;

            opacity: 0;
            -webkit-transform: translateY(200px);
                    transform: translateY(200px);
            -webkit-transition: 1.5s;
            transition: 1.5s;
        }

        &[data-scroll="in"] h1{
            opacity: 1;
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
        }

        &:before{
            content: "";
            z-index: 2;
            position: absolute;
            width: 1220px;
            height: 4px;
            top: 120px;
            left: 100px;
            background-color: #9BC881;
            -webkit-transform-origin: left;
                    transform-origin: left;
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transition: 3s;
            transition: 3s;
        }
    
        &[data-scroll="in"]::before{
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
    }

    section{
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;

        // This pesuodos are for the animated lines upon entry.

        &:before{
            content: "";
            z-index: 1;
            position: absolute;
            width: 1620px;
            height: 1px;
            top: 110px;
            left: 170px;
            background-color: #9BC881;
            -webkit-transform-origin: left;
                    transform-origin: left;
            -webkit-transform: scale(0) rotate(0deg);
                    transform: scale(0) rotate(0deg);
            -webkit-transition: 2.5s;
            transition: 2.5s;
        }

        &[data-scroll="in"]::before{
            // width: 1620px;
            -webkit-transform: scale(1) rotate(-270deg);
                    transform: scale(1) rotate(-270deg);
        }

        &:after{
            content: "";
            z-index: 1;
            position: absolute;
            width: 1620px;
            height: 1px;
            top: 0;
            left: 1000px;
            background-color: #9BC881;
            -webkit-transform-origin: left;
                    transform-origin: left;
            -webkit-transform: scale(0) rotate(0deg);
                    transform: scale(0) rotate(0deg);
            -webkit-transition: 2.5s;
            transition: 2.5s;
        }

        &[data-scroll="in"]::after{
            // width: 1620px;
            -webkit-transform: scale(1) rotate(130deg);
                    transform: scale(1) rotate(130deg);
        }

        .works-tile{
            display: grid;
            grid-template-columns: 25% 75%;
            position: relative;
            margin: auto;
            width: 65%;
            max-width: 1080px;
            z-index: 2;

            &--header{
                align-self: center;
                z-index: 20;
                -webkit-transform: translateY(-20px);
                        transform: translateY(-20px);
                opacity: 0;
                -webkit-transition: .5s;
                transition: .5s;

                &[data-scroll="in"]{
                    -webkit-transform: translateY(0px);
                            transform: translateY(0px);
                    opacity: 1;
                    -webkit-transition-delay: .2s;
                            transition-delay: .2s;
                }

                .project-title{
                    font-size: 5em;
                    color: #A2B4A3;
                    font-weight: normal;
                    line-height: .8;
                    margin: 0;                    

                    text-shadow: 0px 3px 5px rgba(0,0,0,0.1),
                     5px 5px 5px rgba(0,0,0,0.05),
                    -5px 5px 5px rgba(0,0,0,0.05);
                }

                a{
                    font-size: 1.5em;
                    color: #272C27;
                }
            }

            &--screens{
                position: relative;
                left: 0;
                height: 350px;
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                    align-items: center;
                
                figure{
                    text-align: right;

                    img{
                        position: relative;
                        height: 100%;
                        z-index: 18;
                        // cursor: pointer;
                        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    
                        opacity: 0;
                        -webkit-transition: .5s;
                        -webkit-transition: all .5s;
                        transition: all .5s;
                        -webkit-transform: scale(1) translateX(90px);
                                transform: scale(1) translateX(90px);

                        &[data-scroll="in"]{
                            -webkit-transform: translateX(0) scale(1);
                                    transform: translateX(0) scale(1);
                            opacity: 1;
                        }

                        &:hover{
                            z-index: 19;
                            -webkit-transform: scale(1.8);
                                    transform: scale(1.8);
                        }
                    }
                }
            }

            // This is to reverse the position of grid on even entries.

            &:nth-child(even){
                grid-template-areas: "b a";
                grid-template-columns: 75% 25%;

                
                .works-tile--header{
                    grid-area: a;
                    justify-self: right;
                    -moz-text-align-last: right;
                         text-align-last: right;
                }

                .works-tile--screens{
                    grid-area: b;
                }

                figure{
                    text-align: left;
                }
                    
            }

            // ElectroKnight isolated rules

            &:nth-child(1){

                figure{
                    height: 290px;
                    margin: 0;
                    margin-left: 80px;

                    img{
                        margin-left: -50px;
                        // transform: scale(1) translateX(40px);
                                    
                        &[data-scroll="in"]{
                            -webkit-transform: scale(1) rotate(-15deg) translateX(0);
                                    transform: scale(1) rotate(-15deg) translateX(0);
                            opacity: 1;
                            // transition-delay: .2s;
                        }

                        &:hover{
                            -webkit-transform: rotate(0deg) translateX(0) scale(1.6);
                                    transform: rotate(0deg) translateX(0) scale(1.6);
                            -webkit-transition-delay: 0s;
                                    transition-delay: 0s;
                        }   
                    }
                }
            }

            // Cedula isolated rules

            &:nth-child(2){

                .works-tile--header{
                    h2{
                        font-size: 4em;
                    }
                }

                figure{
                    height: 300px;
                    margin: 0;
                    align-self: center;

                    img{
                        margin-left: -160px;
                        height: 48%;
    
                        &:first-child{
                            margin-left: 0px;
                        }

                        &:nth-child(1){
                            margin-bottom: -65px;
                        }
                        &:nth-child(3){
                            margin-bottom: 65px;
                        }
                    }
                }               
            }

            // my-portfolio isolated rules

            &:nth-child(3){

                .works-tile--header{
                    a{
                        margin-left: 30px;
                    }
                }

                figure{
                    height: 160px;
                    width: 100%;
                    margin: 0;
                    align-self: center;

                    img{
                        height: 100%;
                        margin-left: -40px;                
    
                        &:nth-child(1){
                            margin-left: 40px;
                            margin-bottom: -90px;
                        }

                        &:nth-child(2){
                            margin-left: -90px;
                            margin-bottom: 30px;
                        }

                        &:nth-child(3){
                            height: 160%;
                            margin-left: -150px;
                            margin-bottom: -140px;
                        }
                    }
                }
            }
        }
    }

}

.kodama-section{
    position: relative;
    z-index: 100;

    -webkit-animation: opacityAnim 1.5s forwards 0s ease;
            animation: opacityAnim 1.5s forwards 0s ease;

    /* The image used */
    background-image: url("../imgs/kodama.png");

    /* Set a specific height */
    height: 40vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: 1s;

    transition: 1s;

    &[data-scroll="in"]{
        opacity: 1;
    }

    // &:before{
    //     content: '';
    //     z-index: 20;
    //     position: absolute;
    //     top:0;
    //     width: 100%;
    //     height: 50px;
    //     background: -webkit-gradient(linear, left top, left bottom, from(#3D613A), to(transparent));
    //     background: linear-gradient(to bottom, #3D613A, transparent);
    //     z-index: 15;
    // }

    // &:after{
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     height: 50px;
    //     background: -webkit-gradient(linear, left bottom, left top, from(#202224), to(transparent));
    //     background: linear-gradient(to top, #202224, transparent);
    //     z-index: 15;
    // }

    .kodama-convoy{
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

